/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
// @import '~@angular/material/prebuilt-themes/purple-green.css';

* {
    font-family: 'Mukta', sans-serif;
}

:root {
    --info: #1976d2;
    --light-info: #cfe8ff;
    --light-success: #bbf7d0;
    --success: #388e3c;
    --light-warning: #fff2c6;
    --warning: #fbc02d;
    --light-error: #fecdd3;
    --error: #d32f2f;

    --dark-0: #121212;
    --dark-1: #242423;
    --dark-2: #333533;
    --light-0: #CFDBD5;
    --accent: #F5CB5C;
}

body {
    margin: 0px;
    height: 100vh;
}

.card {
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.italic {
    font-style: italic;
    color: lightslategray;
}

.mat-mdc-snack-bar-container {
    &.green-snackbar {
        --mdc-snackbar-container-color: var(--light-success);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: var(--success);
    }

    &.red-snackbar {
        --mdc-snackbar-container-color: var(--light-error);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: var(--error);
    }

    &.yellow-snackbar {
        --mdc-snackbar-container-color: var(--light-warning);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: var(--warning);
    }

    &.blue-snackbar {
        --mdc-snackbar-container-color: var(--light-info);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: var(--info);
    }
}

.icon-25px {
    font-size: 25px !important;
    height: 25px !important;
    width: 25px !important;
}

.icon-40px {
    font-size: 40px !important;
    height: 40px !important;
    width: 40px !important;
}

.icon-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

.icon-filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

html.darkmode {
    color: white;
    background-color: var(--dark-0);
}

html.darkmode button {
    color: white !important;
    border-color: var(--dark-2) !important;

    &:hover {
        background-color: var(--dark-1);
    }
}