button {
    min-width: unset;
    width: 100%;
    justify-content: start;
    border-radius: 0px;

    &.linkActive {
        color: var(--accent);
        background-color: white;
    }
}

:host-context(.darkmode) button {
    &.linkActive {
        color: var(--accent) !important;
        background-color: var(--dark-0);
    }
}