<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" style="height: 100%;" [ngClass]="opened ? 'open' : ''">
    <div *ngFor="let x of navElements">
        <button mat-button routerLink="/{{x.route}}" routerLinkActive="linkActive" style="padding: 25px 10px;">
            <mat-icon class="icon-outlined icon-40px" style="margin: 0px;"
                routerLinkActive="icon-filled">{{x.iconName}}</mat-icon>
            <span *ngIf="opened" style="margin-left: 10px; font-size: 17px;">{{x.elementText}}</span>
        </button>
    </div>
</div>