<div style="display: flex; flex-direction: column; gap: 10px; height: 100%;">
    <!-- Buttons -->
    <div style="display: flex; gap: 5px;">
        <button mat-stroked-button>Hochladen</button>
        <button mat-stroked-button>Teilen</button>
        <button mat-stroked-button style="min-width: unset;"><mat-icon style="margin: 0px;">menu</mat-icon></button>
    </div>

    <!-- Document previews -->
    <div class="preview-container" appOverflownClassIfOverflown>
        <div *ngFor="let group of groupedAndSortedMetadata">
            <div class="card">
                {{ getDateString(group.date) }}
            </div>

            <div class="hori-container">
                <div class=" documentView" *ngFor="let item of group.items">
                    <div style="background-color: blanchedalmond; height: 100px; width: 75%;"></div>
                    <div class="lowerDiv">
                        <span>{{item.fileName}}</span>
                        <span class="italic">{{item.history.toLocaleDateString()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>