.preview-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    &.overflown {
        padding-right: 20px;
    }
}

.documentInfoContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);

    &:hover {
        border-color: var(--accent);
    }
}