<div class="container">
    <div class="icons8-scroll"></div>
    <button mat-stroked-button routerLink="/home" routerLinkActive="linkActive">Übersicht</button>
    <button mat-stroked-button routerLink="/docs" routerLinkActive="linkActive">Dokumente</button>
    <button mat-stroked-button routerLink="/settings" routerLinkActive="linkActive">Einstellungen</button>
    <button mat-stroked-button (click)="openSnackBar()">Snackbar</button>
    <button mat-stroked-button (click)="toggleDarkmode()">Darkmode</button>
    <div class="expand-container">
        <input class="search not-selectable" type="text" name="" id="search" placeholder="Nach Dokumenten suchen..."
            spellcheck="false">
    </div>
</div>